:root {
    --primary-color: #dd2020;
    --secondary-color: #e2e2e2;
    --text-color: #e2e2e2;
    --background-color: #303030b0;
    --color-1: #303030; /* Example color */
    --color-2: #e2e2e2; /* Example color */
    --color-3: #dd2020; /* Example color */
    --color-4: #dd6c20; /* Example color */
    --color-5: #20dd49; /* Example color */
}

body {
    background-color: var(--color-1);
    color: var(--color-2);
    font-family: 'Exo 2', sans-serif;
    margin: 0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
    background-color: var(--primary-color);
    border-radius: 0 0 30px 30px;
    color: var(--color-2);
}

.logo-container {
    display: flex;
    flex-direction: row;
}
.logo-container img {
    width: 62px;
    margin: 0 15px;
}
nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin-right: 15px;
    width: 100%;
    justify-content: space-evenly;
}
nav a {
    text-decoration: none;
    color: var(--color-2);
    font-size: 18px;
    font-weight: 600;
}
nav a:hover {
    text-decoration: underline;
    color: var(--color-2);
}
.nav-link {
    display: none;
    padding: 10px;
    justify-content: space-evenly;
}
.nav-link.active {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.active-page {
    text-decoration: underline;
}
#hamburger-menu {
    background-color: var(--color-1);
    color: var(--color-2);
    border: solid 1px var(--color-2);
    border-radius: 50%;
    font-size: 30px;
    width: 40px;
    height: 40px;
    transition: ease-in-out .1s;
    cursor: pointer;
    text-align: center;
    top: 0;
    right: 0;
    margin: 10px;
}
#hamburger-menu:hover {
    transform: scale(1.05);
    background-color: var(--color-2);
    color: var(--color-1);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 30px;
    position: relative;
    background: url(../images/red-space.webp) no-repeat center center fixed;
    background-size: cover;
}

.hero-text {
    text-align: center;
    position: relative;
    z-index: 3;
}
.hero img {
    display: none;
    z-index: 3;

}
.hero-text {
    text-align: center;
}
.feature-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
}
.feature-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.feature-card img {
    border-radius: 30px;
    width: 200px;
}
.feature-text {
    text-align: center;
    max-width: 400px;
}
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
}
.about-section img {
    border-radius: 30px;
    width: 400px;
}
.about-section button {
    font-size: 18px;
    font-weight: 600;
}
.about-text {
    text-align: center;
    width: 90%;
}
#go-to-app {
    background-color: var(--primary-color);
    color: var(--color-2);
    padding: 15px 30px;
    border: solid 1px var(--color-2);
    border-radius: 30px;
    margin-top: 30px;
    transition: ease-in-out .1s;
    cursor: pointer;
}
#go-to-app:hover {
    transform: scale(1.05);
    background-color: #e25252;
}
footer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: var(--primary-color);
    border-radius: 30px 30px 0 0;
    padding: 15px;

}
.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}