:root {
    --primary-color: #dd2020;
    --secondary-color: #e2e2e2;
    --text-color: #e2e2e2;
    --background-color: #303030b0;
    --color-1: #303030; /* Example color */
    --color-2: #e2e2e2; /* Example color */
    --color-3: #dd2020; /* Example color */
    --color-4: #dd6c20; /* Example color */
    --color-5: #20dd49; /* Example color */
}
* {
    margin: 0;
    padding: 0;
    font-family: "Exo 2";
    box-sizing: border-box;
}
body {
    background: url(../images/red-space.jpg);
    /* background: var(--color-1); */
    background-size: cover;
    background-attachment: fixed;
}
main {
    width: 100%;
    min-height: 100vh;

}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
    background-color: var(--primary-color);
    border-radius: 0 0 30px 30px;
    margin: 0;
    color: var(--color-2);
}
.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo-container img {
    width: 30px;
    margin: 0 50px;
}
nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin-right: 15px;
    width: 40%;
    justify-content: space-around;
}
nav a {
    text-decoration: none;
    color: var(--color-2);
    font-size: 18px;
    font-weight: 600;
}
nav a:hover {
    text-decoration: underline;
    color: var(--color-2);
}
.nav-link {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    width: 100%;
}

.active-page {
    text-decoration: underline;
}
#hamburger-menu {
    display: none;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: rgba(121, 121, 121, 0.014);
    backdrop-filter: blur(1px);
    border: solid 1px var(--color-2);
    border-radius: 10px;
    margin: 50px auto 20px;
    padding: 40px 30px 70px;
}
.todo-app h2 {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-1);
    color: var(--text-color);
    border: solid 1px var(--color-2);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.row input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: var(--text-color);
    padding: 10px;
}
.row button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    transition: ease-in-out .1s;
}
.row button:hover {
    background-color: #ec4040;
    transform: scale(1.05);
}
ul {
    max-height: 200px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: var(--color-2);
}
ul li::before {
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked {
    color: #8d8d8d;
    text-decoration: line-through;
}
ul li.checked::before {
    background-image: url(../images/checked.png);
}
.x-button {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: var(--color-2);
    line-height: 40px;
    text-align: center;
}
.x-button:hover {
    color: var(--primary-color);
    border-radius: 50%;
}

.edit-button {
    position: absolute;
    right: 0;
    margin-right: 30px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: var(--color-2);
    line-height: 40px;
    text-align: center;
}
.edit-button:hover {
    color: var(--primary-color);
    border-radius: 50%;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
#mark-completed {
    border: none;
    outline: none;
    padding: 16px 40px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    transition: ease-in-out .1s;
    margin-top: 50px;
}
#mark-completed:hover {
    background-color: #ec4040;
    transform: scale(1.05);
}
#delete-completed {
    border: none;
    outline: none;
    padding: 16px 40px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    transition: ease-in-out .1s;
    margin-top: 50px;
}
#delete-completed:hover {
    background-color: #ec4040;
    transform: scale(1.05);
}
#add-default-tasks {
    border: none;
    outline: none;
    padding: 16px 40px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    transition: ease-in-out .1s;
    margin-top: 20px;
}
#add-default-tasks:hover {
    background-color: #ec4040;
    transform: scale(1.05);
}

#myModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    border-radius: 30px;
    padding: 20px;
    background-color: var(--color-1);
    color: var(--text-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
#myModal .title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}
#modalClose {
    height: 30px;
    width: 30px;
    background-color: var(--color-1);
    text-align: center;
    border: none;
    cursor: pointer;
    transition: ease-in-out .1s;
}
#modalClose:hover {
    transform: scale(1.05);
}
#modalSave {
    color: var(--color-2);
    background: var(--primary-color);
    border: none;
    border-radius: 40px;
    padding: 16px 50px;
    margin-top: 15px;
    transition: ease-in-out .1s;
}
#modalSave:hover {
    background-color: #ec4040;
    transform: scale(1.05);
}
.task-description {
    display: none;
}
.task-details textarea {
    background: transparent;
    color: var(--color-2);
    border-radius: 40px;
    padding: 15px;
    border: solid 1px var(--color-2);
    margin-top: 10px;
}
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    border-radius: 30px 30px 0 0;
    padding: 15px;

}
.footer-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 50px;
}
.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}